{% load staticfiles %}

<style>
	.column { 
		display: block; 
		width: 300px; 
		height: 900px; 
		float: left; 
		margin-left: 20px; 
		padding-top: 20px;
		opacity: .6; 
		border-radius: 6px;
		text-align: center; 
		background-color: #06F;

	}

	.portlet {
                display: block;
                width: 250px;
                height: 50px;
                float: left;
		margin-top: 10px;
                margin-left: 20px;
                border-radius: 6px;
                text-align: center;
	}

	.portlet-header {
		width: 99%;
                height: 15px;
	}

	.status-name {
		color: #ffea00;
		font-weight: bold;
		font-size: 20px;
	}

	.task-name {
		margin-top: 20px;
                color: black;
                font-weight: bold;
                font-size: 15px;
        }

	#container {
		width: 10000px;
	}

	.red { background-color: #F00; }

	.tilt {
    		transform: rotate(3deg);
    		-moz-transform: rotate(3deg);
    		-webkit-transform: rotate(3deg);
	}

	.portlet-toggle {
    		position: absolute;
    		top: 50%;
    		right: 0;
    		margin-top: -8px;
	}

	.portlet-placeholder {
    		border: 1px dotted black;
		width: 250px;
	    	height: 50px;
    		float: left;
    		margin-top: 10px;
    		margin-left: 20px;
    		padding-top: 20px;
    		border-radius: 6px;
    		background-color: #0f9d00;
	}

</style>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  $(onPageLoad);

  function onPageLoad()
  {
    $( ".column" ).sortable({
      connectWith: ".column",
      handle: ".portlet-header",
      cancel: ".portlet-toggle",
      start: function (event, ui) {
        ui.item.addClass('tilt');
      },
      stop: function (event, ui) {
        ui.item.removeClass('tilt');
        console.log(ui.item.data("id"));
        console.log(ui.item.context.parentNode.id);
        
        $.ajax({
                url : "/trello/update_pos", 
                type : "POST",
                dataType: "json", 
                data : {
                    task_id : ui.item.data("id"),
                    status_id: ui.item.context.parentNode.id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success : function(json) {
                    console.log("Saved position update: " + json.status);
                },
                error : function(xhr,errmsg,err) {
                    console.log("Error position update: " + xhr.status + ": " + xhr.responseText);
                }
        });

    },
      placeholder: "portlet-placeholder ui-corner-all"
    });

    $( ".portlet" )
      .addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
      .find( ".portlet-header" )
        .addClass( "ui-widget-header ui-corner-all" )
        .prepend( "<span class='portlet-toggle'></span>");

    $( ".portlet-toggle" ).click(function() {
        var icon = $( this );
        icon.toggleClass( "ui-icon-minusthick ui-icon-plusthick" );
        icon.closest( ".portlet" ).find( ".portlet-content" ).toggle();
    });
  }
</script>
<div id="container">
	{% if status_list %}
    	{% for status in status_list %}
        	<div class="column" id="{{ status.id }}">
				<span class="status-name">{{ status.status_name }}</span>
			
				<hr width="99.2%" size="2px" color="red">
	
                		{% for task in task_list %}
                    			{% if task.status.status_name == status.status_name %}
                       				<div class="portlet" data-id="{{ task.id }}">
							<div class="portlet-header" style="border-radius: 0px"></div>
							
							<span class="task-name">
								{{ task.task_name }}
							</span>
						</div>
                    			{% endif %}
                		{% endfor %}
		</div>
    	{% endfor %}
    	{% else %}
   		<p>No statuses to display.</p>
	{% endif %}
</div>
