<link rel="stylesheet" type="text/css" href= 'static/trello/style.css' />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.js"></script>
<script src="static/trello/drag-and-drop-tasks.js"></script>

<div id="container">
	{% if status_list %}
    	{% for status in status_list %}
        	<div class="column" id="{{ status.id }}">
				<span class="status-name">{{ status.status_name }}</span>
			
				<hr width="99.2%" size="2px" color="red">
	
                		{% for task in task_list %}
                    			{% if task.status.status_name == status.status_name %}
                       				<div class="portlet" data-id="{{ task.id }}">
							<div class="portlet-header" style="border-radius: 0px"></div>
							
							<span class="task-name">
								{{ task.task_name }}
							</span>
						</div>
                    			{% endif %}
                		{% endfor %}
		</div>
    	{% endfor %}
    	{% else %}
   		<p>No statuses to display.</p>
	{% endif %}
</div>
